@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

body {
    width: 100%;
    background-size: 100%;
    background-image: url(../img/FondosVentana/FondoTech2.jpg);
}

.stl-label-campos {
    color: #fff;
    text-shadow: 1px 2px 17px black;
    font-size: 25px;
}

.stl-campo-texto {
    color: black !important;
    font-size: 20px;
    width: 200px !important;
}

.stl-img-logo {
    width: 200px;
}

.stl-titulo-imagen {
    font-size: 40px;
    color: #48acdb;
    text-shadow: 1px 2px 17px black;
}

.stl-link-recuperar-clave {
    font-size: 11px;
}

.stl-botones {
    width: 160px;
}

.stl-checkbox-mostrar-clave {
    margin-left: -79px;
}

@media screen and (max-width: 350px){
    .stl-img-logo {
        width: 130px;
    }
    .stl-titulo-imagen {
        font-size: 30px;
    }
    .stl-label-campos {
        font-size: 20px;
    }
    .stl-campo-texto {
        font-size: 15px;
    }
    .stl-checkbox-mostrar-clave {
        margin-left: -56px;
    }
    .stl-botones {
        width: 115px;
    }
}