body {
}

.stl-div-content{
}
.stl-div-botones-principales {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
}
.stl-section-botones-principales {
    height: 0;
    overflow: hidden;
    /*transition: all .5s ease;*/
}
.stl-section-botones-principales.activo {
    height: 100%;
}

.stl-boton-principal {
    padding: 1rem;
    margin: 1rem;
}

.stl-section-agregar-cliente {
    height: 0;
    overflow: hidden;
    /*transition: all .5s ease;*/
}
    .stl-section-agregar-cliente.activo {
        height: 100%;
    }

.stl-section-modificar-cliente {
    height: 0;
    overflow: hidden;
    /*transition: all .5s ease;*/
}
    .stl-section-modificar-cliente.activo {
        height: 100%;
    }

.stl-section-eliminar-cliente {
    height: 0;
    overflow: hidden;
    /*transition: all .5s ease;*/
}
    .stl-section-eliminar-cliente.activo {
        height: 100%;
    }

.stl-section-localidades {
    height: 0;
    overflow: hidden;
    /*transition: all .5s ease;*/
}
    .stl-section-localidades.activo {
        height: 100%;
    }

.stl-div-contenedor-campos {
    
}
.stl-div-titulo {
    display: flex;
    justify-content: center;
}
.stl-div-campos {
    display: grid;
    justify-content: center;
    width: 100%;
}

.stl-label-campo {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}
.stl-texto-campo {
    display: inline-block;
    width: 200px;
    margin: 8px;
}

.stl-div-boton {
    justify-content: center;
    display: flex;
}

.stl-btn {
    width: 200px;
    margin: 5px;
}

@media screen and (max-width: 500px) {
    .stl-div-botones-principales {
        display: grid;
    }
}

@media screen and (max-width: 465px) {
    .stl-label-campo {
        display: flex;
        justify-content: center;
    }
    .stl-div-boton{
        display: grid !important;
    }
}